{% extends "base.html" %}
{% load i18n %}

{% block body_block %}

<!-- Intro Header -->
    <header class="intro" >
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Login</h1>
                                                <font color="#00FF99">

				<form method="post" action="." style=text-align: center>
				  {% csrf_token %} 
				  {{ form.as_p }}

				  <input type="submit" value="{% trans 'Log in' %}" />
				  <input type="hidden" name="next" value="{{ next }}" />
				</form>
</font>
				<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
				<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
                    
						                        

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}