{% extends "base.html" %}

{% block body_block %}

<style>
#block1 {
    float:left;
}

#block2 {
    float:right;
}

br {
   display: block;
   margin: 0px 0;
}

h5 {
    word-spacing:30px;
    display:inline-block;
}

h4 {
    word-spacing:30px;
    text-align:center;
    padding-right: 50px;
}
</style>
<section id="about" class="text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
					<div id="block1">	             
					<h3 style=text-align:center>Top overall scores</h3>
                    <ol>
                    {% if scores %}
                        <h5 style=text-align:center>Username Score</h5>
                    	{% for score in scores %}
                        <li style=text-align:center>
                    	<h5>{{score.user}}  {{score.score}} <h6><a href="/Tetris/game/{{score.leaderboard.seed}}/{{score.user}}" class="btn btn-default">Beat this score!</a></h6></h5>
                        </li>
                    	{% endfor %}
                        </ol>
                    {% else %}
                    	<strong>There are no scores present.</strong>
                    {% endif %} 
                    </div>

                    <div id="block2">
                    <h3>Most played seeds</h3>
                    {% if top %}
                        <ol>
                        <h5 style=text-align:center>Seed Plays Leaderboard</h5>
                        <ol>
                        {% for seed in top %}
                        <li>
                            <h5><a href="/Tetris/game/{{seed}}" class="btn btn-default">Play</a> {{seed.plays}} <a href="/Tetris/leaderboard/{{seed}}" class="btn btn-default">Leaderboard</a></h5></br></br>
                        </li>
                        {% endfor %}
                        </ol>
                        </ol>
                    {% else %}
                        <strong>No games have ever been played.</strong>
                    {% endif %} 
                    </div>

                    </div>
            </div>
        </div>
    </section>
{% endblock %}