{% extends "base.html" %}

{% block body_block %}

<!-- Intro Header -->
    <header class="intro" >
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
						             
					<h2>Top overall scores:</h2>
                    <ol>
                    {% if scores %}
                        <h5 style=text-align:left>Username Score</h5>
                    	{% for score in scores %}
                        <li style=text-align:left>
                    	<h5> {{score.user}}: {{score.score}}</h5></br></br>
                        </li>
                    	{% endfor %}
                        </ol>
                    {% else %}
                    	<strong>There are no scores present.</strong>
                    {% endif %}   
                    </center>
                    </body>

                    </div>
                </div>
            </div>
        </div>
    </header>
<body>
<center>
{% endblock %}