{% extends "base.html" %}

{% block body_block %}

<!-- Intro Header -->
    <header class="intro" >
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
						             
						<font size="100"><center> Top Scores </font>
             
                    </div>
                </div>
            </div>
        </div>
    </header>
<body>
<center>
{% if scores %}
	<ul>
	{% for score in scores %}
	<font size="6">{{score.user}}</font> <font size="6">{{score.score}}</font> </font></br></br>
	{% endfor %}
	</ul>
{% else %}
	<strong>There are no scores present.</strong>
{% endif %}   
</center>
</body>
{% endblock %}