{% extends "base.html" %}
{% load i18n %}

{% block body_block %}

<style>

#block1 {
    float:left;
}
    
#block2 {
    text-align:center;
}

</style>

<section id="about" class="text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">

    <h2>Profile of {{ user.username }}</h2>

    {% if userprofile %}
        <p> About user: </br>
        {{ userprofile.bio }}
        </p>
        
        {% if userprofile.picture %}
            <img src="{{ userprofile.picture.url }}"/></br>
        {% else %}
            <p> Seems like {% if edit %} you haven't {% else %} the user hasn't{% endif %} added a profile picture yet </p>
        {% endif %}
    {% else %}
            <p>Seems like{% if edit %} you haven't{% else %} the user hasn't{% endif %} added any details about the profile yet!</p>
        {% endif %}
    
{% if edit %}    
<a href="{% url 'edit_profile' %}">Edit Profile</a>
{% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

</div>

<div id="block2">
<h2>Top scores of {{ user.username }}</h2>
                    
                    {% if scores %}
                    <ol>
                        <h4 style=margin-right:80px;word-spacing:50px>Score Seed</h4>
                        {% for score in scores %}
                        <li style=text-align:center>
                        <h5>{{score.score}} &nbsp &nbsp &nbsp <a href="/Tetris/game/{{score.leaderboard.seed}}/{{score.user}}" class="btn btn-default">Beat this score</a></h5>
                        </li>
                        {% endfor %}
                        </ol>
                    {% else %}
                        <strong>There are no scores present.</strong>
                    {% endif %} 
</div>

{% endblock %}